@import 'libs/normalize';
@import 'base/variables';
@import 'base/mixins';

* {
    margin: 0 auto;
    padding: 0;
}
.container {
    width: 90%;
}

@import 'blocks/cards';
@import 'blocks/pictures';
@import 'blocks/menu';
@import 'blocks/animation';