@mixin before_link {
        &::before {
                content: '';
                width: 12px;
                height: 12px;
                position: absolute;
                top: 20%;
                left: -20px;
                background: $romb-color;
                border: 1px solid #000;
                position: absolute;
                transform: rotate(45deg);
        }
}